
main{
    padding: 0px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,228,200,1) 100%); 
    min-height: auto;
}

h1 {
    color: darkred;
    text-shadow: 1px 0px 1px rgb(88, 42, 21);
}

#entete{
    height: 100px;
    background-color: peachpuff;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav{
    display: flex;
    flex-direction: row;
}

